```shell title="Example request to obtain a token"
curl 'http://host.docker.internal:8081/realms/development/protocol/openid-connect/token' \
-d 'client_id=ace' \
-d 'username=test' \
-d 'password=test' \
-d 'grant_type=password' \
-d 'client_secret=1h6T3Dnx45hrd4pgv7YdcIfP9GRarbpN'
```