These additional headers are supported by this endpoint.

| Name | Details                                                                                                         | Default |
| ----- |-----------------------------------------------------------------------------------------------------------------| ----- |
| [`Accept`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept) | This header represents your accepted and wanted [reponse format](/interfaces/response-formats/) | `application/json` |
