!!! info "Remember that you need a valid token with corresponding permissions"

    You must obtain a valid token for all requests. If you don't know how to do this, read [this page](/getting-started/getting-access/).
    If you have, don't forget to replace `<access_token>` with it.