!!! danger "Strictly for testing purposes only"

    Please remember that this is part of the quick setup and is only intended to give you a brief overview of the system. Do  **not** use it in production and always ensure that you change sensitive data.